body,
h2,
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #444;
  color: #333;
}

#book {
  background: url("./../images/book.png") no-repeat;
  margin-left: -400px;
  position: absolute;
  margin-top: -125px;
  height: 260px;
  width: 830px;
  left: 50%;
  top: 50%;
}

#pages section {
  background: url("./../images/paper.png") no-repeat;
  position: absolute;
  overflow: hidden;
  display: block;
  height: 250px;
  width: 400px;
  left: 415px;
  top: 5px;
}

#pages section > div {
  font-size: 12px;
  display: block;
  height: 250px;
  width: 400px;
}

#pages section p,
#pages section h2 {
  text-align: justify;
  line-height: 1.4em;
  padding: 3px 35px;
}

#pages section h2 {
  margin: 15px 0 10px;
}

#pageflip-canvas {
  position: absolute;
  z-index: 100;
}
